{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <section>
            <article class="showed_game">
                <h2>{{game.name}}</h2>
                <div class="thumbnail_container">
                    <img src="{{ asset('assets/medias/img/game_directory/' ~ game.img) }}" alt="A picture of the {{game.name}}">
                </div>
                {% for genre in game.genreId %}
                <p>{{genre.name}}</p>
                {% endfor %}  
                <p>{{game.description}}</p>
            
                <a class="btn" href="{{ path('app_game_index') }}">back to list</a>

                
                {% if app.user.roles == ["ROLE_ADMIN"] or app.user.roles == ["ROLE_SUPERADMIN"] or app.user.roles == ["ROLE_GOD"] %}
                    <a class="btn" href="{{ path('app_game_edit', {'id': game.id}) }}">Edit this game</a>
                    {{ include('game/_delete_form.html.twig') }}
                {% endif %}
            </article>
{% endblock %}
 