<header>
    <nav>
        <ul>
            <li> <a class="btn" href="{{ path('app_index') }}">Home</a> </li>
            {% if app.user %}
                {% if app.user.roles == ["ROLE_USER"] %}
                    <li> <a class="btn" href="{{ path('app_user', {'id': app.user.id}) }}">My Profile</a> </li>
                    <li> <a class="btn" href="{{ path('app_logout')}}">Logout</a> </li>
                {% elseif app.user.roles == ["ROLE_ADMIN"] or app.user.roles == ["ROLE_SUPERADMIN"] or app.user.roles == ["ROLE_GOD"] %}
                    <li> <a class="btn" href="{{ path('app_user', {'id': app.user.id}) }}">My Profile</a> </li>
                    <li> <a class="btn" href="{{ path('moderation_app')}}">Moderation</a></li>
                    <li> <a class="btn" href="{{ path('app_logout')}}">Logout</a> </li>
                {% endif %}
            {% else %}
                <div>
                    <li> <a class="btn" href="{{ path('app_register')}}">Register</a> </li>
                    <li> <a class="btn" href="{{ path('app_login')}}">Sign In</a> </li>
                </div>
            {% endif %}
        </ul>
    </nav>
</header>
